.heading {
  width: 100%;
}

.box {
  width: 34%;
  text-align: center;
  color: #798CB0;
  border-left: 1px solid #E2EAF3;
  border-bottom: 1px solid #E2EAF3;
  font-family: Satoshi;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  cursor: pointer;
}

.clickColor{
  width: 34%;
  text-align: center;
  color: #4A8CFF;
  border-bottom: 3px solid #5D9CFF;
  font-family: Satoshi;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
}

.boxStyle {
  color: #4A8CFF;
  border-bottom: 2px solid #4A8CFF;
}
