
<form [formGroup]="signUp" class="mt-5">
    <div fxLayout="column">
      <div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="9px">
        <p class="formTitle">Email or Username</p>
        <input class="inputBox"  formControlName="email" type="text" placeholder="e.g. email@domain.com">
      </div>
      <div class="mt-4" fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="9px">
        <p class="formTitle">Access Code</p>
         <div fxLayout="row">
          <input class="inputBox" formControlName="accessCode" matInput placeholder="xxxx - xxxx">
         </div>
      </div>
      <div class="mt-3" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="5px">
          <p>Lost your code?</p>
          <div>
              <a class="forgetPassWord" (click)="openDialog()">Restore Access Code</a>
          </div>
      </div>
      
      <div class="button my-5">
          <button mat-raised-button class="btnDesign">Get Started</button>
      </div>
  
      <div>
          <a class="copyRigth">
              Copyright © 2021 Plabook. All rights reserved
          </a>
      </div>
    </div>
  </form>
  
  