<div class="ml-4">
  <div fxLayout="row" class="mt-2 mb-1">
    <p class="forgetText">Forgot your password?</p>
    <button class="btnClass" (click)="close()">
      <mat-icon class="icon">clear</mat-icon>
    </button>
  </div>
  <mat-divider class="divider"></mat-divider>


  <div class="tabGroup mt-4 pr-4">
    <mat-tab-group mat-stretch-tabs>
      <mat-tab label="Reset by email">
        <div fxLayout="column" fxLayoutAlign="start">
          <p class="text mt-4">
            Please enter your email address and we’ll send you a link to reset your password.
          </p>
          <form [formGroup]="resetByEmail">
            <div class="mt-4" fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="9px">
              <p class="formTitle">Email address</p>
              <input class="inputBox" formControlName="email" type="text" placeholder="e.g. email@domain.com">
            </div>
          </form>

          <mat-divider class="my-5"></mat-divider>

          <div class="button mb-4">
            <button mat-raised-button class="btnDesign">Reset Password</button>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Reset by access code">
        <div fxLayout="column" fxLayoutAlign="start">
          <p class="text mt-4">
            Please enter your access code to reset your password for the Plabook account.
          </p>
          <form [formGroup]="resetByAccessCode">
            <div class="mt-4" fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="9px">
              <p class="formTitle">Access code</p>
              <input class="inputBox" formControlName="accessCode" type="text" placeholder="Enter your access code">
            </div>
          </form>


          <mat-divider class="my-5"></mat-divider>

          <div class="button mb-4">
            <button mat-raised-button class="btnDesign">Reset Password</button>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
