
<div fxLayout="row wrap" class="m-3" fxLayoutAlign="space-between start" fxLayoutGap="50px">
    <div class="firstPart">
        <div fxLayout="column">
            <div class="mainImage" class="my-4">
                <img src="../../../../assets/images/Illustration 1.png" alt="Illustration main Image">
            </div>
            <div class="firstPageDownText" fxLayout="column" fxLayoutAlign="center center">
                <p class="headingText">Stay connected with students</p>
                <p class="bodyText">
                    Teachers can easily organize assignments, track student engagement, and foster meaningful connections with their students.
                </p>
            </div>
        </div>
    </div>
    <div class="secondPart" class="mt-5">
        <div fxLayout="column" fxLayoutAlign="start">
            <p class="secondHeadingText mt-5">Welcome to Plabook!</p>
            <p class="secondBodyText">
                Plabook allows teachers to view class rosters and track student progress.
            </p>
            <div class="tabGroup mr-2 pr-4">
                <mat-tab-group mat-stretch-tabs>
                    <mat-tab label="Sign Up"> 
                        <app-sign-up-form></app-sign-up-form>
                    </mat-tab>
                    <mat-tab label="Sign In"> 
                        <app-sign-in-form></app-sign-in-form>
                    </mat-tab>
                </mat-tab-group>
            </div>
        </div>
        
    </div>
</div>
<br>
