.stepText {
  font-family: Satoshi;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #4A8CFF;
}

.classText {
  font-family: Satoshi;
  font-style: normal;
  font-weight: bold;
  font-size: 34px;
  line-height: 44px;
  text-align: center;
  color: #031228;
}

.classUnderText {
  font-family: Satoshi;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #798CB0;
  width: 349px;
  height: 48px;
}

.classAddMainBox {
  width: 420px;
  height: 244px;
  background: #F7FBFF;
  border: 1px dashed #5D9CFF;
  border-radius: 22px;
}

.btnDesign {
  width: 58px;
  height: 58px;
  background: #5D9CFF;
  border-radius: 18px;
  color: white;
  border: none;
}

.textUnderAddClass {
  font-family: Satoshi;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #041029;
}

.lastTextUnderAddClass {
  font-family: Satoshi;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  color: #798CB0;
  cursor: pointer;
  text-decoration: none;
}

.nextBtnDesign {
  background: #5D9CFF;
  border-radius: 16px;
  width: 420px;
  height: 58px;
  border: none;
  color: white;
}

.copyRigth {
  height: 22px;
  font-family: Satoshi;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #798CB0;
  cursor: pointer;
}

.classList {
  width: 420px;
  height: 58px;
  background: #FFFFFF;
  border: 1px solid #E2EAF3;
  border-radius: 16px;
}

.operationBtnClass {
  border: 1px solid #E2EAF3;
  box-sizing: border-box;
  border-radius: 12px;
  backdrop-filter: blur(40px);
  background: #FFFFFF;
  width: 44px;
  height: 44px;
  margin-left: 24%;
  margin-top: -7px;
}

.icon {
  padding-right: 2px;
}

.imgClass {
  width: 44px;
  height: 44px;
  border-radius: 14px;
  background-image: url("../../../../assets/images/Icon.png");
  background-size: cover;
}

.className {
  font-family: Satoshi;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: -0.01em;
  color: #041029;
}

::ng-deep .customize {
  margin-top: 10px;
  width: 174px;
  height: 116px;
  background: #FFFFFF;
  border: 1px solid #E2EAF3;
  box-shadow: 0px 4px 24px rgba(30, 63, 88, 0.03);
  border-radius: 12px !important;
}

.editBlock{
  width:70%;
  height: 22px;
  background-image: url("../../../../assets/images/edit.png");
}

.dleteBlock{
  width:80%;
  height: 22px;
  background-image: url("../../../../assets/images/delete.png");
}

.divider{
  width: 130px !important;
}
