<div>
    <div class="mt-5" fxLayout="column wrap" fxLayoutAlign="center center">
        <p class="stepText">Step 1 of 3</p>
        <p class="classText">Create classes</p>
        <p class="classUnderText">Create classes and manage all the assignments that your students need.</p>


        <div class="classList mt-3">
            <div class="py-1 mx-2" fxLayout="row" fxLayoutAlign="space-between end">
                <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
                    <div class="imgClass"></div>
                    <div class="className">
                        Group 1-A
                    </div>
                </div>
                <button class="operationBtnClass" mat-icon-button [matMenuTriggerFor]="menu">
                    <mat-icon class="icon">more_horiz</mat-icon>
                </button>
            </div>
        </div>


        <!-- Menu Item -->

        <mat-menu  class="customize" #menu="matMenu" xPosition="before">
            <button mat-menu-item>
              <div class="editBlock"></div>
            </button>
            <mat-divider class="divider ml-3"></mat-divider>
            <button mat-menu-item>
                <div class="dleteBlock"></div>
            </button>
          </mat-menu>




        <div class="classAddMainBox my-4 "  fxLayout="column wrap" fxLayoutAlign="center center">
            <button class="btnDesign">
                <mat-icon class="pt-2">add</mat-icon>
            </button>
            <p class="textUnderAddClass mt-3 mb-2">Create new class</p>
            <a (click)="openPopUp()" class="lastTextUnderAddClass">click here to create new class</a>
        </div>

        <div class="my-5">
            <button mat-raised-button class="nextBtnDesign">Next</button>
        </div>

        <a class="copyRigth my-5">
            Copyright © 2021 Plabook. All rights reserved
        </a>
        <br><br>
    </div>
</div>
